// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-alice-blue: #F7F9FC;
$color-sapphire: #06255B;
$color-sapphire-6: rgba(6, 37, 91, 0.06);
$color-sapphire-40: rgba(6, 37, 91, 0.4);
$color-sapphire-60: rgba(6, 37, 91, 0.6);
$color-sapphire-80: rgba(6, 37, 91, 0.8);
$color-chocolate: #DA5D24;
$color-rust: #BA4E1D;
$color-coral: #ff7c40;
$color-white-smoke: #F7F7F7;
$color-light-grey: #d5d5d5;
$color-night-rider: #313131;
$color-bright-grey: #53565A;
$color-regent-grey: #737B7D;
$color--gainsboro: #e2e2e2;
$color-blue-whale-25: rgba(19, 47, 79, 0.25);
$color-ebony: #2F3034;
$color-endeavour: #1d4a99;
$color-tuna: #4A4B4E;
$color-blackcurrant: #1A171B;
$color-maire: #0E0E0C;
$color-cerulean: #1074AF;
$color-bahama-blue: #0d5c8b;

// Typography

$ff-source-sans-pro: "Source Sans Pro", "Arial", sans-serif;
$ff-crimson-text: "Crimson text", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animations
$transition-300: 0.3s ease-in;

