.btn {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: $color-white;
  outline: none;

  &--contact {
    width: 143px;
    border: none;
    background-color: $color-chocolate;
    padding: 19px 18px;
    transition: background-color $transition-300;

    &:hover,
    &:focus-visible {
      background-color: $color-rust;
    }
  }

  &--hero {
    padding: 16px 18px;
    border: 1px solid $color-white;
    background-color: $color-sapphire-60;
    transition: background-color $transition-300, color $transition-300;

    &:hover,
    &:focus-visible {
      background-color: $color-white-smoke;
      color: $color-sapphire;
    }
  }

  &--color {
    padding: 16px 18px;
    border: 1px solid $color-white;
    color: $color-sapphire;
    background-color: $color-white-smoke;
    transition: background-color $transition-300, color $transition-300;

    &:hover,
    &:focus-visible {
      background-color: $color-sapphire-60;
      color: $color-white;
    }
  }
}