.burger {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
  cursor: pointer;

  .header--open & {
    &__menu {
      background-color: transparent;

      &::after {
        background-color: $color-white;
        top: 0;
        transform: translate(-50%, 0) rotate(45deg);
        transition: background-color ease-in 0.3s, top ease-in 0.3s, transform ease-in 0.3s 0.3s;
      }

      &::before {
        background-color: $color-white;
        top: 0;
        transform: translate(-50%, 0) rotate(-45deg);
        transition: background-color ease-in 0.3s, top ease-in 0.3s, transform ease-in 0.3s 0.3s;
      }
    }
  }

  &__menu {
    background-color: $color-sapphire;
    border-radius: 10px;
    height: 2px;
    position: relative;
    width: 30px;
    transition: background-color 0s 0.3s;

    @media (max-width: 768px) {
      background-color: $color-white;
      height: 4px;
      width: 40px;
    }

    &::before,
    &::after {
      background-color: $color-sapphire;
      border-radius: 10px;
      content: "";
      height: 2px;
      left: 50%;
      position: absolute;
      top: -8px;
      transform: translate(-50%, 0);
      width: 40px;

      @media (max-width: 768px) {
        background-color: $color-white;
        height: 4px;
        width: 50px;
        top: -11px;
      }
    }

    &::before {
      transition: background-color ease-in 0.3s, top ease-in 0.3s 0.3s, transform ease-in 0.3s;
    }

    &::after {
      transition: background-color ease-in 0.3s, top ease-in 0.3s 0.3s, transform ease-in 0.3s;
      top: 8px;
      
      @media (max-width: 768px) {
        top: 11px;
      }
    }
  }
}